.quizzi-project{
    border-radius: 4px;
    padding: 20px  20px 20px 40px ;
    background-color: #2B2B2B;
    margin-top: 30px;
    display: flex;
    width: 80%;
}
.quizz-content{
    padding-right: 20px;
}
.quizzi-project .quizz-content #quizz-title{
    text-align: right;
    color: white;
    font-size: 22px;
    letter-spacing: 5px;
    font-family: 'Space-Grotesk', sans-serif;
}
.quizz-content #desc{
    color: white;
    text-align: right;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Space-Grotesk', sans-serif;
}
.quizz-content #btn-container #btn-link{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Space-Grotesk', sans-serif;
    border: 4px white solid;
    border-radius: 45px;
    padding: 12px 34px;
    
    transition: color 1s ease, background-color 1s ease;
}
.quizz-content #btn-container #btn-link:hover{
    color: #2B2B2B;
    background-color: white;
}
.quizz-content #btn-container{
    margin-top: 60px;
    text-align: center;
}